<form method="POST" class="input-group mb-3">
    <input type="hidden" value="{{ category.id }}" name="id">
    <input type="text" id="type" name="type" class="form-control" value="{{ category.type }}">
    <button class="btn btn-outline-secondary" type="submit">Enregistrer</button>
</form>
