<form method="POST" class="input-group mb-3">
    <input type="hidden" value="{{ color.id }}" name="id">
    <input type="text" id="name" name="name" class="form-control" value="{{ color.name }}">
    <button class="btn btn-outline-secondary" type="submit">Enregistrer</button>
</form>
