<footer class="bg-dark text-center text-white mt-auto">
  <div class="footer-content">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" style="width: 43px;" href="https://www.facebook.com/Kintsukuroi-107642188613756style=" target="_blank" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
    <div class="footer-copyright">
      <div class="text-center p-3" style="background-color: #181d38;">
       Copyright © 2022 Kintsukuroi | All rights reserved
      <a class="text-footer-home" style="color: #b8994a;" href="/">Kintsukuroi.com</a>
    </div>
  </div>
</footer>
