<div class="container">
    <h1 class="h1 mt-3">Interface administrateur</h1>
    <ul class="nav nav-pills nav-justified mt-4">
        <li class="nav-item">
            <a class="btn" aria-current="page" href="/admin">Produits</a>
        </li>
        <li class="nav-item">
            <a class="btn" href="/admin/filters">Filtres</a>
        </li>
        <li class="nav-item">
            <a class="btn" href="/admin/orders">Commandes</a>
        </li>
        <li class="nav-item">
            <a class="btn" href="/admin/users">Utilisateurs</a>
        </li>
    </ul>
    <hr>
</div>
